.flag_button {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
  font-size: 40px
}

.navbar_color5445 {
    background-color:rgb(144, 143, 143);
}

.navbar_color25 {
    background-color: rgb(248, 249, 250);
}

.navbar_color {
    background-color: white;
}

.navbar_text_color {
  color: black;
  font-family: "Noto Sans", Arial, sans-serif;

}

.navbar-nav .navbar-brand {
    margin-right: 25px;
    margin-left: 25px;
}